@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

@media (min-width: 426px) and (max-width: 1920px) {
	*{
    -ms-overflow-style: none;
    scroll-behavior: smooth;
		}

		::-webkit-scrollbar {
		    display: none;
		}

		.background {
			position: relative;
			top: 0px;
			left: 0px;
			display: block;
			height: max-content;
			width: 1924px;
			background-color: #23272A;
			overflow: hidden;
			scroll-behavior: smooth;
		}

		.navbar {
			display: flex;
			flex-direction: row;
		}

		.logo img {
			display: block;
			flex-direction: row;
			position: relative;
			top: 10px;
			left: 10px;
			margin: 5px;
			height: 80px;
			width: 80px;
			border-radius: 100%;
			box-shadow: 0 0 30px #FF9900;
		}

		.logo-text {
			position: relative;
			top: 40px;
			left: 15px;
			margin: 5px;
			font-family: Alfa Slab One;
			font-size: 35px;
			color: #FF9900;
		}

		.link-list {
			display: flex;
			flex-direction: row;
			position: relative;
			top: 40px;
			left: 1080px;
			margin: 5px;
			list-style: none;
		}

		.links a {
			font-family: sans-serif;
			font-size: 20px;
			font-weight: bold;
			text-decoration: none;
			color: #FF9900;
			padding: 10px;
			transition: 0.2s ease-in-out;
		}

		.links a:hover {
			color: #B86E00;
		}

		.dropContent {
			display: flex;
			flex-direction: column;
			position: relative;
			margin: 0;
			padding: 0;
			height: 0;
			width: 0;
		}

		.dropContent a {
			position: relative;
			top: 25px;
			right: 324px;
			margin: none;
			padding: 0;
			text-decoration: none;
			color: white;
			font-family: sans-serif;
			font-size: 15px;
			transition: 0.2s ease-in-out;
			width: 150px;
			padding: 2px;
		}

		.dropContent a:hover {
			color: gray;
		}

		.f1 {
			font-family: sans-serif;
			font-size: 25px;
			font-weight: bold;
			color: white;
			position: relative;
			top: -580px;
			left: 900px;
			display: fixed; 
			text-decoration: none;
			z-index: 1;
			animation: fadeIn linear 2s;
		  -webkit-animation: fadeIn linear 2s;
		  -moz-animation: fadeIn linear 2s;
		  -o-animation: fadeIn linear 2s;
		  -ms-animation: fadeIn linear 2s
		}

		.f1:hover {
			color: white;
			cursor: none;
		}

		@keyframes fadeIn {
		  0% {opacity:0;}
		  100% {opacity:1;}
		}

		@-moz-keyframes fadeIn {
		  0% {opacity:0;}
		  100% {opacity:1;}
		}

		@-webkit-keyframes fadeIn {
		  0% {opacity:0;}
		  100% {opacity:1;}
		}

		@-o-keyframes fadeIn {
		  0% {opacity:0;}
		  100% {opacity:1;}
		}

		@-ms-keyframes fadeIn {
		  0% {opacity:0;}
		  100% {opacity:1;}
		}

		#song-q {
			top: -650px;
			left: 885px;
		}

		#song-loop {
			top: -1250px;
		}

		.logo-loop {
			position: relative;
			float: right;
			width: 200px;
			height: 200px;
			top: -1270px;
			left: -170px;
			border-radius: 100%;
			animation: flicker 2s linear infinite;
		}

		.l-text {
			position: relative;
			top: -1100px;
			left: 100px;
			color: white;
			font-family: sans-serif;
			font-size: 30px;
			font-weight: 700;
			text-align: center;
			width: fit-content;
			height: fit-content;
			line-height: 33px;
			animation: fadeIn linear 2s;
		  -webkit-animation: fadeIn linear 2s;
		  -moz-animation: fadeIn linear 2s;
		  -o-animation: fadeIn linear 2s;
		  -ms-animation: fadeIn linear 2s
		}

		@keyframes flicker {
			0% {
				opacity: 1;
				box-shadow: 0 0 100px #FF9900;
			}
			10% {
				opacity: 0;
			}
			20%,30% {
				opacity: 1;
				box-shadow: 0 0 80px white;
			}
			40%,50% {
				opacity: 0;
			}
			60% {
				opacity: 1;
				box-shadow: 0 0 50px white;
			}
			70% {
				opacity: 0;
			}
			80%,90% {
				opacity: 1;
				box-shadow: 0 0 100px white;
			}
			100% {
				opacity: 0;
			}
		}

		#vid {
			position: relative;
			left: 500px;
			border: 2px solid white;
			border-radius: 20px;
			width: fit-content;
			height: fit-content;
			animation: fadeIn linear 2s;
		  -webkit-animation: fadeIn linear 2s;
		  -moz-animation: fadeIn linear 2s;
		  -o-animation: fadeIn linear 2s;
		  -ms-animation: fadeIn linear 2s
		}

		.vid1 {
			top: -550px;
		}

		.vid2 {
			top: -600px;
		}

		.vid3 {
			position: relative;
			left: 350px;
			border: 2px solid white;
			border-radius: 20px;
			width: fit-content;
			height: fit-content;
			top: -910px;
		}

		.summon-text {
			position: relative;
			top: -800px;
			left: 100px;
			color: white;
			font-family: sans-serif;
			font-size: 30px;
			font-weight: 700;
			text-align: center;
			width: fit-content;
			height: fit-content;
			line-height: 33px;
			animation: fadeIn linear 2s;
		  -webkit-animation: fadeIn linear 2s;
		  -moz-animation: fadeIn linear 2s;
		  -o-animation: fadeIn linear 2s;
		  -ms-animation: fadeIn linear 2s
		}

		.summon-image {
			position: relative;
			width: 342px;
			height: 28px;
			left: 1500px;
			top: -750px;
			border-radius: 70%;
			box-shadow: 0 -50px 120px white;
			/*background-color: #FF9900;*/
			background-color: white;
		}

		.logo-summon {
			position: relative;
			width: 200px;
			height: 200px;
			left: -170px;
			top: -950px;
			bottom: 0;
			border-radius: 100%;
			box-shadow: 0 0 100px white;
			animation: MoveUpDown 3s linear infinite;																																				
			float: right;
		}

		@keyframes MoveUpDown {
			0%, 100% {
				transform: translateY(0);
			}
			50% {
				transform: translateY(-30px);
			}
		}

		.q-text {
			position: relative;
			top: -850px;
			left: 1550px;
			color: white;
			font-family: sans-serif;
			font-size: 30px;
			font-weight: 700;
			text-align: center;
			width: fit-content;
			height: fit-content;
			line-height: 33px;
			animation: fadeIn linear 2s;
		  -webkit-animation: fadeIn linear 2s;
		  -moz-animation: fadeIn linear 2s;
		  -o-animation: fadeIn linear 2s;
		  -ms-animation: fadeIn linear 2s
		}

		.logo-q {
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100px;
			height: 100px;
			line-height: 10px;
			top: -1100px;
			left: 200px;
			border-radius: 100%;
		}

		#logo-q1 {
			animation: fadeInOut 2s linear infinite;	
			box-shadow: 0 0 100px white;
		}

		#logo-q2 {
			animation: fadeInOut 2.5s linear infinite;
			box-shadow: 0 0 100px white;
		}

		#logo-q3 {
			animation: fadeInOut 3s linear infinite;
			box-shadow: 0 0 100px white;
		}

		@keyframes fadeInOut {
			0%,100% {
				opacity: 0;
			}
			50% {
				opacity: 1;
			}
		}

		.some-text {
			font-family: sans-serif;
			font-size: 25px;
			font-weight: bold;
			position: relative;
			top: 70px;
			right: 0;
			left: -700px;
			bottom: 0;
			margin: auto;
			width: fit-content;
			height: fit-content;
			text-align: center;
			color: white;
			line-height: 33px;
		}

		#contact-us {
			top: -920px;
		}

		.func-btns {
			font-family: sans-serif;
			font-size: 16px;
			font-weight: 700;
			position: relative;
			width: 165px;
			height: 42px;
			text-align: center;
			border: 2px solid white;
			border-radius: 19px;
			line-height: 30px;
			background-color: #FF9900;
			color: white;
			cursor: pointer;
			transition: 0.2s ease-out;
			top: 95px;
			right: 0;
			bottom: 0;
			margin: auto;
		}

		#add-discord {
			left: 80px;
		}

		#add-discord:hover {
			border: 2px solid #23272A;
			background-color: #B86E00;
			color: #23272A;
		}

		#see-features {
			left: 117px;
		}

		#see-features:hover {
			border: 2px solid #23272A;
			background-color: #B86E00;
			color: #23272A;
		}

		#img1 img {
			position: relative;
			width: 500px;
			height: 500px;
			top: -406px;
			left: 700px;
			border: none;
		}

		#img2 img {
			position: relative;
			width: 350px;
			height: 350px;
			top: -397px;
			left: 1170px;
			border: none;
			opacity: 70%;
		}

		#img3 img {
			position: relative;
			width: 250px;
			height: 250px;
			top: -1129px;
			left: 1400px;
			border: none;
			opacity: 40%;
		}

		.force-add {
			display: block;
			position: relative;
			top: -619px;
			height: 100px;
			background-color: #2C2F33;
		}

		.sc-1 img {
			position: relative;
			top: 178px;
			left: 98px;
			width: 300px;
			height: 300px;
		}

		.sc-1 {
			display: flex;
		}

		.force-text {
			position: relative;
			font-family: sans-serif;
			font-weight: bold;
			color: white;
			font-size: 45px;
			top: 37px;
			left: 377px;
			right: 0;
			bottom: 0;
			margin: auto;
		}

		#add-discord-2 {
			top: -7px;
			left: 6px;
		}

		#add-discord-2:hover {
			border: 2px solid #23272A;
			background-color: #B86E00;
			color: #23272A;
		}

		.dev-info {
			position: relative;
			top: -500px;
			height: 400px;
			width: 100%;
			background-color: #2C2F33;
		}

		#about-logo {
			position: relative;
			top: 50px;
			left: 100px;
			width: 150px;
			height: 150px;
			border-radius: 100%;
			box-shadow: 0 0 80px #FF9900;
		}

		#about-logo-text {
			position: relative;
			top: 100px;
			left: -110px;
		}

		.dev-links {
			position: relative;
			display: flex;
			flex-direction: column;
			top: -84px;
			right: 0;
			left: 600px;
			bottom: 0;
			margin: auto;
			line-height: 50px;
		}

		.dev-links a {
			text-decoration: none;
			color: white;
			font-family: sans-serif;
			font-size: 18px;
			font-weight: 100;
			transition: 0.2s ease-out;
			width: fit-content;
			height: fit-content;
		}

		.dev-links a:hover {
			color: gray;
		}

		#dev2 {
			position: relative;
			left: 900px;
			top: -300px;
		}

		.contact-form {
			/* background-color: #2C2F33; */
			position: relative;
			left: 556px;
			top: -1070px;
			width: 800px;
			height: 500px;
		}

		#form-textarea-control-opinion {
			resize: none;
			width: 100%;
			height: 200px;
			font-size: 18px;
			position: relative;
			top: 0px;
			font-family: sans-serif;
		}

		#form-textarea-control-opinion:focus {
			box-shadow: 0 0 50px #B86E00;
		}

		#form-input-control-last-name {
			width: 100%;
			height: 30px;
			font-size: 18px;
			position: relative;
			top: 0px;
			font-family: sans-serif;
		}

		#form-input-control-last-name:focus {
			box-shadow: 0 0 50px #B86E00;
		}

		#form-input-control-email {
			width: 100%;
			height: 30px;
			font-size: 18px;
			position: relative;
			font-family: sans-serif;
		}

		#form-input-control-email:focus {
			box-shadow: 0 0 50px #B86E00;
		}

		#form-control-button {
			position: relative;
			top: 0px;
			width: 100px;
			font-size: 15px;
			font-family: sans-serif;
			padding: 10px;
		}

		.go-up {
			/*float: right;*/
			 top: 900px;
		   bottom:0;
		   left: 1850px;
		   position:fixed;
		   overflow-y:scroll;
		   overflow-x:hidden;
		}

		.about-us {
			position: relative;
			left: 0px;
			top: -350px;
			bottom: 0;
			right: 0;
			margin: auto;
			/* background-color: white; */
			width: 50%;
		}

		.my-pic {
			position: relative;
			width: 300px;
			height: 300px;
			border-radius: 100%;
		}

		.mate-pic {
			position: relative;
			top: -300px;
			width: 300px;
			height: 300px;
			border-radius: 100%;
			float: right;
		}

		.my-name {
			position: relative;
			left: -280px;
			top: 50px;
			font-family: sans-serif;
			font-size: 25px;
			color: white;
		}

		.mate-name {
			position: relative;
			left: 750px;
			top: 20px;
			font-family: sans-serif;
			font-size: 25px;
			color: white;
		}

		#my-git {
			position: relative;
			left: -500px;
			top: 100px;
			text-decoration: none;
		}

		#mate-git {
			position: relative;
			left: 600px;
			top: 70px;
			text-decoration: none;
		}

		#my-stack {
			position: relative;
			left: -480px;
			top: 100px;
			text-decoration: none;
		}

		#mate-stack {
			position: relative;
			left: 620px;
			top: 70px;
			text-decoration: none;
		}

		#my-insta {
			position: relative;
			left: -460px;
			top: 100px;
			text-decoration: none;
		}

		#mate-insta {
			position: relative;
			left: 640px;
			top: 70px;
			text-decoration: none;
		}

		#a-us {
			top: -400px;
		}

		.about {
			position: relative;
			top: -500px;
		}

		.ham {
			visibility: hidden;
		}
}
